/* You can add global styles to this file, and also import other style files */
body{
    background: #ea52f8;
    background: -webkit-linear-gradient(left, #0066ff, #ea52f8);
    background: -moz-linear-gradient(left, #0066ff, #ea52f8);
    background: -o-linear-gradient(left, #0066ff, #ea52f8);
    background: linear-gradient(to right, #0066ff, #ea52f8);
}
